body {
    background-color: rgb(223, 198, 214);
    background-size: cover;
    background-position: center;
}

#accueil{
    background-image: url("images/acceuil.png");
}

h1{
    text-align: center;
    font-family: 'Lobster', cursive;
}

h2 {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 46px;
}

h3{
    font-family: 'Lobster', cursive;
    font-size: 46px;
}

.home{
    width: 100%;
}
label {
    background: transparent none;
    display: block;
    width: 20%;
    float: left;
    padding-right: 1%;
    text-align: left;
}

input {
    margin-left: 1%;
    width: 30%;
    border: #CCC 1px solid;
}

.message {
    color: rgb(0, 0,0);
    font-size: 1.1em;
    width: 95%;
}

#menu {
    height: 1.8em;
}

#categories {
    float: left;
}

#produits {
    padding: 0 150px;
}

#menu{
    background-color: mediumvioletred;
}

#menu li a,
#categories li a {
    text-decoration: none;
}

#produits li,
#produits li a {
    list-style-type: none;
    list-style-image: none;
    display: inline;
    width: 175px;
    text-align: center;
    height: 205px;
    font: 1em "Trebuchet MS", Arial, sans-serif;
}

.panier{
    width: 30;
}

.logo {
    height: 90px;
}

li {
    font-size: 32px;
    font-family: 'Lobster', cursive; 
}

.footer {
    background-color: rgb(51, 51, 51);
    color: white;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.centre{
    text-align: center;
    width: 100%;
}

.erreur{
    background-image: url("images/404-error.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}